# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB=clientdb
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"

# MongoDB
MONGO_DB=client-dashboard
MONGO_URI="mongodb://localhost:27017/client-dashboard"

# Redis
REDIS_URL=redis://localhost:6379
REDIS_SECRET=redispassword
REDIS_MAX_RETRY_COUNT=3
#1 minute
REDIS_CACHE_TTL_SHORT=60
# 5 minutes
REDIS_CACHE_TTL_LONG=300

PASSWORD_SALT_OR_ROUNDS=10
JWT_ACCESS_SECRET="supersecretaccess"
JWT_REFRESH_SECRET="supersecretrefresh"
PORT=4000
ENVIRONMENT=dev
ACCESS_TOKEN_EXPIRES_IN="30m"
# 7 days
REFRESH_TOKEN_EXPIRES_IN_MINUTES=10080
# 7 days
COOKIES_MAX_AGE=604800000
ACTIVATION_CODE_TTL_MINUTES=10
RESET_CODE_TTL_MINUTES=15
#7days
REFRESH_TOKEN_TTL_MINUTES=10080
BITRIX_WEBHOOK_URL=https://***.bitrix24.eu/rest/***/*********/
BITRIX_CALLBACK_RECORD_TITLE="Заявка на зворотній дзвінок (web/app)"
BITRIX_CALCULATION_REQUEST_RECORD_TITLE="Заявка на розрахунок вартості (web/app)"
S3_ENDPOINT_URL=https://*******************.r2.cloudflarestorage.com/client-dashboard/
S3_ACCESS_KEY_ID=******************************
S3_SECRET_ACCESS_KEY=********************************************
S3_PUBLIC_URL=https://********.com/client-dashboard/
CALCULATION_REQUEST_PHOTO_MAX_FILESIZE_IN_MB=15